.mb-3 {
  background-color: burlywood;
}

#sort-title {
    display: flex;
    justify-content: center;
}

#sort-text {
    display: flex;
    justify-content: center;
}

#sort-small {
    display: flex;
    justify-content: center;
}

#sort {
  margin: 0;
  position: sticky;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 20px;
}

.card-img-top {
  max-height: fit-content;
  max-width: fit-content;
  display: block;
  padding-top: 5px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}

#form {
  display: none;
}


#armyApp {
  display: flex;
  justify-content: end;
  flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
  background-color: black;
  color: aliceblue;
}

/* .filter-btns {
  display: flex;
  justify-content: space-around;
} */
